.container__form{
    top: 100px;
    
    position: sticky;
    height: 88vh;
    overflow-y:auto ;
}
.iniciar__sesion{
    max-width: 380px;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-around;
    align-items:center;
}
.iniciar__sesion div{
    width: 90%;
    margin: 3px auto;
    display: flex;
    flex-flow: column wrap;
}
.iniciar__sesion > div label{
    margin: 3px ;
    font-family: 'Mulish', sans-serif;
    color: var(--color-text);
    font-weight: 600;
}
.iniciar__sesion > div  input{
    width: 100%;
    font-family: 'Mulish', sans-serif;
    margin: auto;
    padding:  5px;

    border: none;
    background-color: var(--color-inputBG);
    box-shadow: 0 0 2px 1px rgba(54, 47, 47, 0.63);
    outline: none;
}
.iniciar__sesion > input{
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px ;
    color: var(--color-text);
    background-color: #ffff;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0.3px solid rgba(56, 48, 48, 0.384);
}


.registrar__sesion{
    max-width: 380px;

    
    display: flex;
    flex-flow: column wrap;
    justify-content:space-around;
    align-items:center;

}
.registrar__sesion div{
    width: 90%;
    margin: 3px auto;
    display: flex;
    flex-flow: column wrap;
}
.registrar__sesion > div label{
    margin: 3px ;
    font-family: 'Mulish', sans-serif;
    color: var(--color-text);
    font-weight: 600;
}
.registrar__sesion > div  input{
    width: 100%;

    margin: auto;
    padding: 5px ;
    font-family: 'Mulish', sans-serif;
    border: none;
    background-color: var(--color-inputBG);
    box-shadow: 0 0 2px 1px rgba(54, 47, 47, 0.63);
    outline: none;
}
.registrar__sesion > input{
    cursor: pointer;

    margin-top: 10px;
    padding: 5px 10px ;
    color: #ffff;
    background-color: var(--color-text);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0.3px solid rgba(56, 48, 48, 0.384);
}



.Error p{
    text-align: center;
    margin: 2px auto;
    padding: 5px ;
    font-family: 'Mulish', sans-serif;
    border: none;
    color:red;
    font-weight: 900;
    box-shadow: 0 0 2px 1px rgba(54, 47, 47, 0.63);
    outline: none;

}

@media (max-width:800px){

    .container__form{
        height: auto;
    }
    
    .container__form form{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .container__form{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .iniciar__sesion{
        width: 100%;
        height: 100%;
    }
    .registrar__sesion{
        width:100%;
        height: 100%;
    }


}
@media (max-width:500px){
    .iniciar__sesion > div  input{
        padding: 5px;
    }
}
