
.navbar{
    top: 0;
    height: 88px;
    width: 100%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.877);
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    background-color: rgb(255, 255, 255);

}
.hamburger_buton{
    width: 34px;
    height: 34px;
    position: relative;
    display: none;
    justify-content: space-around;
    align-items:center;
}
.hamburger_buton input{
    opacity: 0;
    height: 0;
    width: 0;
}
.hamburger_buton > span{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 3px;


    position: absolute;
    cursor: pointer;
    transition: 0.3s all;


    display: flex;
    flex-flow: column wrap;
    justify-content:space-evenly;
    align-items: center;
}

.hamburger_buton > span span{
    width: 65%;
    border:1px solid black;
    transition: 0.3s all;
}
.hamburger_buton input:checked + span span{
    position: absolute;
}
.hamburger_buton input:checked + span span:nth-child(1){
    width: 70%;
    transform:rotate(45deg);
}
.hamburger_buton input:checked + span span:nth-child(2){
    opacity: 0;
}
.hamburger_buton input:checked + span span:nth-child(3){
    width: 70%;
    transform: rotate( -45deg);
}



.navbar__logo{
    color:#3C64B1;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.navbar__items{
    transition: all 0.3s;

}
.navbar__items a{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
    color: var(--color-text);
    font-weight: 600;
    margin: 2.4rem;
}
.navbar__user >  a{
    font-size: 14px;
    padding: 13px 20px;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    font-weight: 600;
    background-color: #3C64B1;
    color: #ffff;
}


.img_perfil{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: none;
    box-shadow: 0px 5px 13px  0.5px rgba(0, 0, 0, 0.336);
}


.img_perfil_svg *{
    padding: 16px 17px;
    border-radius: 50%;
    display: block;
    border: none;
    box-shadow: 0px 5px 13px  0.5px rgba(0, 0, 0, 0.336);
}

.dropdown_user{
    position: relative;
}

.button_dropdown_user{
    padding: 3px;    
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button_dropdown_user span ,.button_dropdown_user img , .button_dropdown_user i{ 
    margin: auto 4px;
    display: block;
    position: relative;
}

.button_dropdown_user > i{
    transition: all 0.3s;
}
.button_dropdown_user[class~='active'] > i{
    transform:rotate(90deg);
}

.button_dropdown_user[class~='active']  + .dropdown_content{
    display: flex;
}

.dropdown_content[class~='active']  {
    display: flex;
}

.dropdown_content{
    display: none;
    bottom:-100;
    left: -120px;
    right: 0;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 3px rgba(36, 31, 31, 0.651);
    position: absolute;

    flex-flow: column wrap;
    justify-content: start;
    align-items: flex-start;
    padding: 10px;
}

.dropdown_content a{
    width: 100%;
    margin:5px auto;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
    color: var(--color-text);
    font-weight: 600;

    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.dropdown_content a i{
    margin: auto 10px;
}





@media (max-width:800px){
    .hamburger_buton{
        display: flex;
    }

    .activa{
        transform: translateX(-101%);
    }

    .navbar__items{
        background-color: rgb(255, 255, 255);
        z-index: 2;
        top: 88px;
        left: 0;
        

        width: 70%;
        max-width: 300px;
        height: calc(100vh - 88px);
        position: fixed;


        display: flex;
        flex-flow: column nowrap;        
        box-shadow: 0 0.1px 1px 0px rgba(0, 0, 0, 0.877);
        overflow-y: auto;

    }
    .navbar__items a{
        padding: 5px;
    }


}